
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Kenia&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100&family=Ubuntu+Condensed&display=swap');
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: #8684B5;
    display: grid;
    grid-gap: 40px;
    padding: 100px;
    >.card{
        border-radius: 6px;
        box-shadow: 0px 0px 10px black ;
        display: flex;
        flex-direction: column;
        &:nth-child(1){
            >.card-header{
                &::before{
                background-image: url("../images/index.jpg");
                background-position: -15px 0px;
                background-size: 150%;
                background-repeat: no-repeat;

                }
            }
        }
         &:nth-child(2){
            >.card-header{
                &::before{
                background-image: url("../images/can_yeaman.jpg");
                background-position: -15px 0px;
                background-size: 150%;
                background-repeat: no-repeat;

                }
            }
        }
         &:nth-child(3){
            >.card-header{
                &::before{
                background-image: url("../images/jon_abrahams.jpg");
                background-position: -15px 0px;
                background-size: 150%;
                background-repeat: no-repeat;

                }
            }
        }
         &:nth-child(4){
            >.card-header{
                &::before{
                background-image: url("../images/jon_satham.jpg");
                background-position: -15px 0px;
                background-size: 150%;
                background-repeat: no-repeat;

                }
            }
        }
         &:nth-child(5){
            >.card-header{
                &::before{
                background-image: url("../images/R.jpg");
                background-position: -15px 0px;
                background-size: 150%;
                background-repeat: no-repeat;

                }
            }
        }
         &:nth-child(6){
            >.card-header{
                &::before{
                background-image: url("../images/salman_khan.jpg");
                background-position: -15px 0px;
                background-size: 150%;
                background-repeat: no-repeat;

                }
            }
        }
         &:nth-child(7){
            >.card-header{
                &::before{
                background-image: url("../images/the_rock.jpg");
                background-position: -15px 0px;
                background-size: 150%;
                background-repeat: no-repeat;

                }
            }
        }
         &:nth-child(8){
            >.card-header{
                &::before{
                background-image: url("../images/tom_crouis.jpg");
                background-position: -15px 0px;
                background-size: 150%;
                background-repeat: no-repeat;

                }
            }
        }
        
        >.card-header{
            height: 100px;
            background-color: #73FED5;
            position: relative;
            padding: 12px;
            border-radius: 6px 6px 0px 0px;
            &::after{
                content: "+";
                position: absolute;
                color: white;
                background: #73FED5;
                box-shadow: 0px 0px 10px black;
                border-radius: 50%;
                width: 30px;
                line-height: 30px;
                text-align: center;
                transform: translate(36%,-36%);
                top: 0%;
                right: 0%;

            }
            &::before{
                content: "";
                position: absolute;
                bottom: 0%;
                left: 50%;
                transform: translate(-50%,50%);
                width: 80px;
                height: 80px;
                border-radius: 50%;
                border: 2px solid white;
               
            }
        }
        >.card-body{
            background-color: #fff;
            
            text-align: center;
            >h1{
                padding-top: 50px;
                padding-bottom: 10px;
                font-family: 'Cookie', cursive; 
            }
            >p{
                padding: 0px 12px;
                text-align: center;
                font-family: 'Cookie', cursive;
                font-family: 'Kenia', cursive;
                font-family: 'Playfair Display', serif;
                font-family: 'Roboto', sans-serif;
                font-family: 'Ubuntu Condensed', sans-serif;
                
            }
        }
        >.card-footer{
            background-color: #fff;
            padding-top: 15px;
            padding-bottom: 15px;
            border-radius: 0px 0px 6px 6px;
            display: flex;
            justify-content: center;
            align-items: center;
            >.foot{
                display: flex;
                justify-content: center;
                align-items: center;
                list-style: none;
                >li{
                    margin: 10px;
                    
                    >a{
                        display: block;
                        color: #AEAEAE;


                    }
                }
            }
        }
    }
}
@media screen and(min-width: 1080px){
    .container{
         grid-template-columns: repeat(4, 1fr);

    }
    
}
@media screen and(min-width: 680px) and (max-width: 1080px){
    .container{
         grid-template-columns: repeat(2, 1fr);

    }
    
}
@media screen and(max-width: 680px){
    .container{
         grid-template-columns: repeat(1, 1fr);

    }
    
}
